<div class="section section-dark-blue search-screen" id="search" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="maps col-md-12">
          <agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true" [(fitBounds)]='location.viewport'>
            <agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng" [markerDraggable]="location.marker.draggable" (dragEnd)='markerDragEnd($event)'></agm-marker>
          </agm-map>



        </div>
        <div class="container-fluid">
          <button (click)='updateOnMap()' type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>
