<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500" id="navbar-scroll">
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
      <div>
        <a routerLink="/home"  class="navbar-brand" id="profile" >
          <div class="logo">
            <img src="../../assets/img/logo/Clozer.png" width="90" height="30"/>
          </div>
        </a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav navbar-right ml-auto">
        <li class="nav-item">
          <a [ngx-scroll-to]="'#search'" class="nav-link hand-cursor"><i class="nc-icon nc-zoom-split"></i> Search</a>
        </li>
        <!--<li class="nav-item">-->
          <!--<a  class="nav-link" href=""><i class="nc-icon nc-settings-gear-65"></i> Personalise</a>-->
        <!--</li>-->
        <li class="nav-item" data-toggle="modal" data-target="#faqModal">
          <a class="nav-link hand-cursor"><i class="nc-icon nc-paper" ></i> FAQ</a>
        </li>
        <li class="nav-item">
          <a href="mailto:info@clozer.co.uk" class="nav-link hand-cursor"><i class="nc-icon nc-send"></i> Contact Us </a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<div class="page-header section-dark">
  <div class="banner">
    <!--<div class="filter"></div>-->
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">CLOZER</h1> <!-- class="presentation-title" -->
        </div>
        <h2 class="presentation-subtitle">
          <div class="row">
            <hr class="hr-title-line">
            ⌘
            <hr class="hr-title-line">
          </div>
        </h2>
        <div class="fog-low"></div>
        <h2 class="presentation-subtitle text-center">Your search for the perfect house begins here</h2>
        <br>
        <div align="center">
          <a class="btn btn-warning btn-round" [ngx-scroll-to]="'#search'">Let's Go</a>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
<div class="section video-summary" id="video" align="center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-video></app-video>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<!--<div class="section section-dark-blue search-screen" id="search" >-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<router-outlet></router-outlet>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="section personalise-summary" id="personalise" align="center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-personalise></app-personalise>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="credits">
      <nav class="footer-nav">
        <div><a href="mailto:info@clozer.co.uk">info@clozer.co.uk</a></div>
      </nav>
    </div>
  </div>
</footer>




