<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500" id="navbar-scroll">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" id="profile" href="#">PETTAI RAP</a>
      <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>

    </div>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#search" class="nav-link"><i class="nc-icon nc-zoom-split"></i> Search</a>
        </li>
        <li class="nav-item">
          <a href="#skillset" class="nav-link"><i class="nc-icon nc-settings-gear-65"></i> Personalise</a>
        </li>
        <li class="nav-item">
          <a href="#experience" class="nav-link"><i class="nc-icon nc-paper"></i> FAQ</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="page-header section-dark" style="background-image: url('assets/img/skyline/banner.jpg') ">
  <div class="banner">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title2">Pettai Rap</h1> <!-- class="presentation-title" -->
          <div class="fog-low">
            <!--<img src="assets/img/fog-low.png" alt="">-->
          </div>
          <div class="fog-low right">
            <!--<img src="assets/img/fog-low.png" alt="">-->
          </div>
        </div>
        <h2 class="presentation-subtitle">
          <div class="row">
            <hr class="hr-title-line">
            ⌘
            <hr class="hr-title-line">
          </div>
        </h2>
        <h2 class="presentation-subtitle text-center">Your search for the perfect house begins here</h2>
        <div align="center"> <a class="btn btn-info btn-round text-center" target="#">Let's go</a> </div>
      </div>
    </div>
  </div>
</div>

<div class="section video-summary" id="video">

</div>

<div class="section section-dark section-search" id="search">

</div>



<footer class="footer">
  <div class="container">
    <div class="credits">
      <nav class="footer-nav">
        <div>Footer contents</div>
      </nav>
    </div>
  </div>
</footer>
