<!--<div class="video">-->
  <!--<div class="embed-responsive embed-responsive-4by3">-->
    <!--<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6vZ0iqUS6sg?rel=0" allowfullscreen></iframe>-->
  <!--</div>-->
<!--</div>-->
  <div class="container">
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <h2 class="title">Let's get you Clozer</h2>
        <h5 class="description">Clozer let's you find the best location to settle down. Enter the postcode that matter to you, how long you would want to travel and how you would want to travel to work or school and Clozer does the rest for you. Find your dream location in a matter of few clicks.. What are you waiting for!</h5>
        <!--<br>-->
        <!--<a  class="btn btn-danger btn-round" [ngx-scroll-to]="'#search'">See Clozer in action</a>-->
      </div>
    </div>
    <br/><br/>
    <div class="row">
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="nc-icon nc-atom"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Clozer Score</h4>
            <p>Locate your ideal neighbourhood based on Clozer scores - an efficient ranking algorithm that calculates an area score based on safety, schools, facilities and much more </p>
            <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="nc-icon nc-zoom-split"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Search</h4>
            <p class="description">Use a reference postcode (e.g. work) to find areas based on budget, distance and travel preferences.  </p>
            <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="nc-icon nc-chart-pie-36"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Analyse</h4>
            <p>Analyse what locations can best suit your needs based on your preference and Clozer scores</p>
            <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="nc-icon nc-settings"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Personalise</h4>
            <p>Choose what matters to you.. schools, entertainment, safety, transport links and Clozer scores work around your preference</p>
            <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
          </div>
        </div>
      </div>

    </div>
    <!--<div class="row ">-->
      <!--<div class="col-md-8 mr-auto ml-auto">-->
        <!--<a  class="btn btn-danger btn-round" [ngx-scroll-to]="'#search'">See Clozer in action</a>-->
      <!--</div>-->
    <!--</div>-->
  </div>


