<!--<div class="video">-->
  <!--<div class="embed-responsive embed-responsive-4by3">-->
    <!--<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6vZ0iqUS6sg?rel=0" allowfullscreen></iframe>-->
  <!--</div>-->
<!--</div>-->
  <div class="container">
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <h4 class="title-about">Let's get you Clozer</h4>
        <h5 class="description">
          Clozer helps you find the best location to settle down based on your preferences.
          Tell Clozer a reference postcode (eg: work), your travel preferences and your budget and a few more details - Clozer does the rest for you.
          Find your ideal location in a matter of clicks.
          So, are you ready?
        </h5>
        <!--<br>-->
        <!--<a  class="btn btn-danger btn-round" [ngx-scroll-to]="'#search'">See Clozer in action</a>-->
      </div>
    </div>
    <br/><br/>
    <div class="row">
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="nc-icon nc-atom"></i>
          </div>
          <div class="description">
            <h5 class="info-title">Clozer Score</h5>
            <p>
              Locate your ideal neighbourhood based on Clozer scores - an efficient ranking algorithm using factors such as safety, schools, facilities, travel and more
            </p>
            <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="nc-icon nc-zoom-split"></i>
          </div>
          <div class="description">
            <h5 class="info-title">Search</h5>
            <p class="description">Use a reference postcode (eg work) to find areas based on budget, distance and travel preferences  </p>
            <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="nc-icon nc-chart-pie-36"></i>
          </div>
          <div class="description">
            <h5 class="info-title">Analyse</h5>
            <p>Compare postal sectors across areas and analyse suggested options to narrow down your search</p>
            <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="nc-icon nc-settings"></i>
          </div>
          <div class="description">
            <h5 class="info-title no-top-margin">Personalise</h5>
            <p>Choose what matters to you and your loved ones - schools, travel, medical facilities, etc.
              Your search.....personalised!</p>
            <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
          </div>
        </div>
      </div>

    </div>
    <!--<div class="row ">-->
      <!--<div class="col-md-8 mr-auto ml-auto">-->
        <!--<h4 class="title-about">What Clozer can do..</h4>-->
      <!--</div>-->
    <!--</div>-->
  </div>

<!--<div class="video">-->
<!--<div class="embed-responsive embed-responsive-4by3">-->
<!--<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rCrVCm-qdNE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
<!--</div>-->
<!--</div>-->


