<div class="section section-dark-blue search-screen" id="search" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search col-md-12">
          <form (ngSubmit) = "getAreaSearchResults()" #searchForm = "ngForm">
            <div class=" form-group row col-md-12">
              <div class="col-md-3">
                <label for="housePriceTo" class="col-form-label">My maximum budget </label>
              </div>
              <div class="col-md-3">
                <!--<input type="text" class="form-control" id="housePrice"  placeholder="Enter your work postcode">-->
                <select class="form-control" id="housePriceTo" [(ngModel)] = "searchModel.maxPrice" name="maxPrice">
                  <option *ngFor="let price of priceRange" value="{{price}}">
                    {{price | currency : 'GBP' : '£' : '1.0'}}
                  </option>
                </select>
              </div>
              <!--<div col="col-md-4"></div>-->
              <div class="col-md-6"></div>
            </div>
            <div class="form-group row col-md-12">
              <div class="col-md-3">
                <label for="workzipcode" class="col-form-label">Postcodes that matter to me </label>
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control" id="workzipcode"
                       [(ngModel)] = "searchModel.workPostcode"
                       placeholder="First choice" name="workPostCode" required>
              </div>
              <div class="col-xs-1">&nbsp;</div>
              <!--<div class="col-md-1"></div>-->
              <!--<label for="homezipcode" class="col-md-2 col-form-label">I currently live at..</label>-->
              <!--<div class="col-md-1"></div>-->
              <div class="col-md-3">
                <input type="text" class="form-control" id="homezipcode"
                       [(ngModel)] = "searchModel.homePostcode"
                       placeholder="Second choice" name="homePostCode">
              </div>
              <div class="col-xs-2"></div>
            </div>
            <div class="form-group row col-md-12">
              <div class="col-md-3">
                <label for="timeToTravel" class="col-form-label">Can travel up to</label>
              </div>
              <div class="col-md-3">
                <!--<input type="text" class="form-control" id="timeToTravel"  placeholder="time">-->
                <select class="form-control" id="timeToTravel" [(ngModel)] = "searchModel.timeToTravel" name="timeToTravel">
                  <option *ngFor="let t of time" value="{{t}}">
                    {{t}} min
                  </option>
                </select>
              </div>
              <div class="col-xs-1">-</div>
              <!--<label for="distanceToTravel" class="col-md-2 col-form-label">and not more than</label>-->
              <div class="col-md-3">
                <!--<input type="text" class="form-control" id="distanceToTravel" placeholder="distance">-->
                <select class="form-control" id="distanceToTravel" [(ngModel)] = "searchModel.distanceToTravel" name="distanceToTravel">
                  <option *ngFor="let dist of distance" value="{{dist}}">
                    {{dist}} mile
                  </option>
                </select>
              </div>
              <div class="col-xs-2"></div>
            </div>
            <div class=" form-group row col-md-12">
              <div class="col-md-3">
                <label class="col-form-label">I prefer to travel by </label>
              </div>
                <div class="form-check col-md-7" id="travelmode1" >
                  <label class="form-check-label">
                    <input type="radio" name="travelMode" class="form-check-input"
                           [(ngModel)] = "searchModel.travelMode" name="travelMode" value="any">
                    <i class="fas fa-bus"></i> Any
                  </label>
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input"
                         checked
                         name="travelMode" value="Train"
                         [(ngModel)] = "searchModel.travelMode" name="travelMode" value="train">
                    <i class="fa fa-train"></i> Train
                  </label>
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input"
                         [(ngModel)] = "searchModel.travelMode" name="travelMode" value="car">
                    <i class="fas fa-car"></i> Car
                  </label>

                <!--<label class="form-check-label">-->
                    <!--<input type="radio" class="form-check-input"-->
                          <!--name="travelMode" value="cycle" disabled="true">-->
                  <!--<i class="fas fa-bicycle"></i> Cycle-->
                  <!--</label>-->
                <!--<label class="form-check-label">-->
                    <!--<input type="radio" class="form-check-input"-->
                          <!--name="travelMode" value="walk" disabled="true">-->
                  <!--<i class="fas fa-walking"></i> Walk-->
                  <!--</label>-->
                </div>
              </div>
            <div class="form-group row col-md-12">
              <div class="col-md-3"> </div>
              <div class="col-md-9">
                <button type="submit" class="btn btn-info btn-round" [disabled]="!searchForm.form.valid" >Search</button> &nbsp;
                <button type="button" class="btn btn-info btn-round" (click) = "resetFields()">Reset</button>
              </div>
            </div>
          </form>
          <!--<span *ngIf="isLoading" class="glyphicon glyphicon-repeat fast-right-spinner"></span>-->
          <!--<div class="searchresults" *ngIf="submitted">-->
            <!--<app-search-details [searchModel]="outputSearchModel"></app-search-details>-->
          <!--</div>-->
        <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End search form -->

<!-- Search results -->
<div class="section section-dark-blue areasearch-results-summary" id="searchresults" align="center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="spinning" *ngIf="isLoading">
          <i class="fa fa-cog fa-spin fa-2x fa-fw" aria-hidden="true"></i>
        </div>
        <!-- REsults -->
        <div class="search container-fluid col-md-12" *ngIf="hasLoaded">
          <div class="row">
            <p> You have {{areaSearchResults.length}} area(s) matching your criteria </p>
            <br>
          </div>
          <!-- Adding rotating cards -->
          <div class="container">
            <div class="row">
              <div class="row col-md-12" *ngFor="let searchDetail of areaSearchResults">
                <div class="col-md-4">
                  <div class="card-container card-plain manual-flip">
                    <div class="card">
                      <div class="front">
                        <div class="cover">
                          <img src="assets/img/rotating_card_thumb2.png"/>
                        </div>
                        <div class="user">
                          <img class="img-circle" src="assets/img/rotating_card_thumb.jpg">
                          <div class="img-text"><strong>{{searchDetail.area_code}}</strong></div>
                        </div>
                        <div class="content">
                          <div class="main">
                            <h3 class="score">Clozer score: {{searchDetail.total_score}}</h3>
                            <!--<h5 class="code">{{searchDetail.area_code}}</h5>-->
                            <p class="text-center">{{searchDetail.area_name}}</p>
                            <div class="header">
                              <h5 class="topheader">Avg Journey Time: {{searchDetail.average_journey_time | number: '1.0-0'}} min </h5>
                              <h5 class="topheader">Train Stations: {{searchDetail.stations_count}} </h5>
                            </div>
                          </div>
                          <!--<div class="card-footer">-->
                            <!--<button type="button" class="btn btn-info btn-round ">Know More</button>-->
                            <!--<button class="btn btn-round btn-info btn-simple-card" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">-->
                              <!--<i class="fas fa-share"></i> Know More-->
                            <!--</button>-->
                            <div class="front-card-footer">
                              <button class="btn btn-neutral btn-simple-card" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="fas fa-share"></i> Know More
                              </button>
                            </div>
                          <!--</div>-->
                        </div>
                      </div> <!-- end front panel -->
                      <div class="back">
                          <h5 class="motto-end"><strong>{{searchDetail.area_code}}</strong></h5>
                        <div class="content">
                          <div class="main">
                            <!--<div class="row stats-container">-->
                              <!--<div class="col-md-12 ">-->
                                <!--<p align="center" class="make-it-bold"> Scores </p>-->
                              <!--</div>-->
                              <!--<div class="stats">-->
                                <!--<h4 class="h4-card">{{searchDetail.safety_score | number : '1.0'}}</h4>-->
                                <!--<p class="card-p">-->
                                  <!--Detached-->
                                <!--</p>-->
                              <!--</div>-->
                              <!--<div class="stats">-->
                                <!--<h4 class="h4-card">{{searchDetail.school_score | number : '1.0'}}</h4>-->
                                <!--<p class="card-p">-->
                                  <!--Semi-detached-->
                                <!--</p>-->
                              <!--</div>-->
                              <!--<div class="stats">-->
                                <!--<h4 class="h4-card">{{searchDetail.travel_score | number : '1.0'}}</h4>-->
                                <!--<p class="card-p">-->
                                  <!--Flats-->
                                <!--</p>-->
                              <!--</div>-->
                            <!--</div>-->
                            <div class="row stats-container">
                              <div class="col-md-12 ">
                                <p align="center" class="make-it-bold"> House Price  </p>
                              </div>
                              <div class="stats">
                                <h4 class="h4-card">{{searchDetail.average_detached_house_price | currency : 'GBP' : '£' : '1.0'}}</h4>
                                <p class="card-p">
                                  Detached
                                </p>
                              </div>
                              <div class="stats">
                                <h4 class="h4-card">{{searchDetail.average_semi_detached_house_price | currency : 'GBP' : '£' : '1.0'}}</h4>
                                <p class="card-p">
                                  Semi-detached
                                </p>
                              </div>
                              <div class="stats">
                                <h4 class="h4-card">{{searchDetail.average_flat_price | currency : 'GBP' : '£' : '0.0'}}</h4>
                                <p class="card-p">
                                   Flats
                                </p>
                              </div>
                            </div>
                            <div class="row stats-container">
                              <div class="col-md-12">
                                <p align="center" class="make-it-bold"> Schools </p>
                              </div>
                              <div class="stats">
                                <h4 class="h4-card">{{searchDetail.primary_schools}}</h4>
                                <p class="card-p">
                                  Primary
                                </p>
                              </div>
                              <div class="stats">
                                <h4 class="h4-card">{{searchDetail.secondary_schools}}</h4>
                                <p class="card-p">
                                  Secondary
                                </p>
                              </div>
                              <div class="stats">
                                <h4 class="h4-card">{{searchDetail.private_schools}}</h4>
                                <p class="card-p">
                                  Private
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="back-card-footer">
                          <div class="social-links text-center">
                            <button class="btn  btn-simple-card btn-round btn-info" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                              <i class="fas fa-reply"></i> Back
                            </button>
                            <button type="button" class="btn  btn-simple-card btn-round btn-info" (click) = "getSectorSearchResults(searchDetail)" data-toggle="modal" data-target="#exampleModal">Explore</button>
                          </div>
                        </div>
                      </div> <!-- end back panel -->
                    </div> <!-- end card -->
                  </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
              </div>
            </div>
          </div>
        </div>
        <!-- End Results -->
      </div>
    </div>
  </div>
</div>
<!-- End search results -->
<!-- Modal -->
<div class="modal fadeOutUp" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" *ngIf="sectorLoaded">
        <h5 class="modal-title" id="exampleModalTitle">Search Results for {{sectorSearchResults[0].area_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="search col-md-12">
                <div class="spinning" *ngIf="sectorLoading">
                  <i class="fa fa-cog fa-spin fa-2x fa-fw" aria-hidden="true"></i>
                </div>
                <div class="" *ngIf="sectorLoaded">
                  <div class="togglebutton align-right">
                    <label>
                      <input type="checkbox" id="sortOrder" checked="{{checked}}" (click)="toggle()">
                      <span class="toggle"></span>
                      {{seachCriteria}}
                    </label>
                  </div>
                  <div *ngIf="compareByArea">
                  <div class="col-md-12"  *ngFor="let sector of sectorSearchResults">
                    <!-- Progress bars -->
                    <hr style="border:3px solid #f1f1f1">
                    <span class="heading">{{sector.sector_code}} ({{sector.sector_name}})</span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <hr style="border:3px solid #f1f1f1">

                    <div class="row">
                      <div class="side">
                        <div>Safety</div>
                      </div>
                      <div class="middle">
                        <div class="bar-container">
                          <div class="bar-5" *ngIf="sector.safety_score_stars === 5"></div>
                          <div class="bar-4" *ngIf="sector.safety_score_stars === 4"></div>
                          <div class="bar-3" *ngIf="sector.safety_score_stars === 3"></div>
                          <div class="bar-2" *ngIf="sector.safety_score_stars === 2"></div>
                          <div class="bar-1" *ngIf="sector.safety_score_stars === 1"></div>
                        </div>
                      </div>
                      <div class="side right">
                        <div>{{sector.safety_score}}</div>
                      </div>
                      <div class="side">
                        <div>Schools</div>
                      </div>
                      <div class="middle">
                        <div class="bar-container">
                          <div class="bar-5" *ngIf="sector.school_score_stars === 5"></div>
                          <div class="bar-4" *ngIf="sector.school_score_stars === 4"></div>
                          <div class="bar-3" *ngIf="sector.school_score_stars === 3"></div>
                          <div class="bar-2" *ngIf="sector.school_score_stars === 2"></div>
                          <div class="bar-1" *ngIf="sector.school_score_stars === 1"></div>
                        </div>
                      </div>
                      <div class="side right">
                        <div>{{sector.school_score}}</div>
                      </div>
                      <div class="side">
                        <div>Travel</div>
                      </div>
                      <div class="middle">
                        <div class="bar-container">
                          <div class="bar-5" *ngIf="sector.travel_score_stars === 5"></div>
                          <div class="bar-4" *ngIf="sector.travel_score_stars === 4"></div>
                          <div class="bar-3" *ngIf="sector.travel_score_stars === 3"></div>
                          <div class="bar-2" *ngIf="sector.travel_score_stars === 2"></div>
                          <div class="bar-1" *ngIf="sector.travel_score_stars === 1"></div>
                        </div>
                      </div>
                      <div class="side right">
                        <div>{{sector.travel_score}}</div>
                      </div>
                      <div class="side">
                        <div>Facilities</div>
                      </div>
                      <div class="middle">
                        <div class="bar-container">
                          <div class="bar-5" *ngIf="sector.facilities_score_stars === 5"></div>
                          <div class="bar-4" *ngIf="sector.facilities_score_stars === 4"></div>
                          <div class="bar-3" *ngIf="sector.facilities_score_stars === 3"></div>
                          <div class="bar-2" *ngIf="sector.facilities_score_stars === 2"></div>
                          <div class="bar-1" *ngIf="sector.facilities_score_stars === 1"></div>
                        </div>
                      </div>
                      <div class="side right">
                        <div>{{sector.facilities_score}}</div>
                      </div>
                      <div class="side">
                        <div>Total</div>
                      </div>
                      <div class="middle">
                        <div class="bar-container">
                          <div class="bar-4"></div>
                        </div>
                      </div>
                      <div class="side right">
                        <div>250</div>
                      </div>
                    </div>

                    <!-- End progress bars -->
                  </div>
                  </div>
                  <div *ngIf="!compareByArea">
                    <div class="col-md-12" >
                      <!-- Progress bars -->
                      <hr style="border:3px solid #f1f1f1">
                      <span class="heading">Safety</span>
                      <hr style="border:3px solid #f1f1f1">
                      <div class="row"  *ngFor="let sector of sectorSearchResults">
                        <div class="side">
                          <div data-toggle="tooltip" data-placement="top" title="{{sector.sector_name}}">
                            {{sector.sector_code | uppercase}}</div>
                        </div>
                        <div class="middle">
                          <div class="bar-container">
                            <div class="bar-5" *ngIf="sector.safety_score_stars === 5"></div>
                            <div class="bar-4" *ngIf="sector.safety_score_stars === 4"></div>
                            <div class="bar-3" *ngIf="sector.safety_score_stars === 3"></div>
                            <div class="bar-2" *ngIf="sector.safety_score_stars === 2"></div>
                            <div class="bar-1" *ngIf="sector.safety_score_stars === 1"></div>
                          </div>
                        </div>
                        <div class="side right">
                          <div>{{sector.safety_score}}</div>
                        </div>
                      </div>
                      <hr style="border:3px solid #f1f1f1">
                      <span class="heading">Schools</span>
                      <hr style="border:3px solid #f1f1f1">
                      <div class="row"  *ngFor="let sector of sectorSearchResults">
                        <div class="side">
                          <div data-toggle="tooltip" data-placement="top" title="{{sector.sector_name}}">
                            {{sector.sector_code | uppercase}}</div>
                        </div>
                        <div class="middle">
                          <div class="bar-container">
                            <div class="bar-5" *ngIf="sector.school_score_stars === 5"></div>
                            <div class="bar-4" *ngIf="sector.school_score_stars === 4"></div>
                            <div class="bar-3" *ngIf="sector.school_score_stars === 3"></div>
                            <div class="bar-2" *ngIf="sector.school_score_stars === 2"></div>
                            <div class="bar-1" *ngIf="sector.school_score_stars === 1"></div>
                          </div>
                        </div>
                        <div class="side right">
                          <div>{{sector.school_score}}</div>
                        </div>
                      </div>
                      <hr style="border:3px solid #f1f1f1">
                      <span class="heading">Travel</span>
                      <hr style="border:3px solid #f1f1f1">
                      <div class="row"  *ngFor="let sector of sectorSearchResults">
                        <div class="side">
                          <div data-toggle="tooltip" data-placement="top" title="{{sector.sector_name}}">
                            {{sector.sector_code | uppercase}}</div>
                        </div>
                        <div class="middle">
                          <div class="bar-container">
                            <div class="bar-5" *ngIf="sector.travel_score_stars === 5"></div>
                            <div class="bar-4" *ngIf="sector.travel_score_stars === 4"></div>
                            <div class="bar-3" *ngIf="sector.travel_score_stars === 3"></div>
                            <div class="bar-2" *ngIf="sector.travel_score_stars === 2"></div>
                            <div class="bar-1" *ngIf="sector.travel_score_stars === 1"></div>
                          </div>
                        </div>
                        <div class="side right">
                          <div>{{sector.travel_score}}</div>
                        </div>
                      </div>
                      <hr style="border:3px solid #f1f1f1">
                      <span class="heading">Facilities</span>
                      <hr style="border:3px solid #f1f1f1">
                      <div class="row"  *ngFor="let sector of sectorSearchResults">
                        <div class="side">
                          <div data-toggle="tooltip" data-placement="top" title="{{sector.sector_name}}">
                            {{sector.sector_code | uppercase}}</div>
                        </div>
                        <div class="middle">
                          <div class="bar-container">
                            <div class="bar-5" *ngIf="sector.facilities_score_stars === 5"></div>
                            <div class="bar-4" *ngIf="sector.facilities_score_stars === 4"></div>
                            <div class="bar-3" *ngIf="sector.facilities_score_stars === 3"></div>
                            <div class="bar-2" *ngIf="sector.facilities_score_stars === 2"></div>
                            <div class="bar-1" *ngIf="sector.facilities_score_stars === 1"></div>
                          </div>
                        </div>
                        <div class="side right">
                          <div>{{sector.facilities_score}}</div>
                        </div>
                      </div>
                      <!-- End progress bars -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End modal -->






