<div class="section section-dark-blue search-screen" id="search" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search col-md-12">
          <form (ngSubmit) = "getAreaSearchResults()" #searchForm = "ngForm">
            <div class=" form-group row col-md-12">
              <div class="col-md-3">
                <label for="housePriceTo" class="col-form-label">My maximum budget </label>
              </div>
              <!--<div class="col-md-3 float-md-left">-->
                <!--&lt;!&ndash;<input type="text" class="form-control" id="housePrice"  placeholder="Enter your work postcode">&ndash;&gt;-->
                <!--<select class="form-control" id="housePriceFrom" [(ngModel)] = "searchModel.minPrice" name="minPrice">-->
                  <!--<option *ngFor="let price of priceRange" value="{{price}}">-->
                    <!--{{price | currency : 'GBP' : true : '1.0'}}-->
                  <!--</option>-->
                <!--</select>-->
              <!--</div>-->
              <div class="col-md-3">
                <!--<input type="text" class="form-control" id="housePrice"  placeholder="Enter your work postcode">-->
                <select class="form-control" id="housePriceTo" [(ngModel)] = "searchModel.maxPrice" name="maxPrice">
                  <option *ngFor="let price of priceRange" value="{{price}}">
                    {{price | currency : 'GBP' : true : '1.0'}}
                  </option>
                </select>
              </div>
              <!--<div col="col-md-4"></div>-->
              <div class="col-md-6"></div>
            </div>
            <div class="form-group row col-md-12">
              <div class="col-md-3">
                <label for="workzipcode" class="col-form-label">Postcodes that matter to me </label>
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control" id="workzipcode"
                       [(ngModel)] = "searchModel.workPostcode"
                       placeholder="First choice" name="workPostCode" required>
              </div>
              <div class="col-xs-1">&nbsp;</div>
              <!--<div class="col-md-1"></div>-->
              <!--<label for="homezipcode" class="col-md-2 col-form-label">I currently live at..</label>-->
              <!--<div class="col-md-1"></div>-->
              <div class="col-md-3">
                <input type="text" class="form-control" id="homezipcode"
                       [(ngModel)] = "searchModel.homePostcode"
                       placeholder="Second choice" name="homePostCode">
              </div>
              <div class="col-xs-2"></div>
            </div>
            <div class="form-group row col-md-12">
              <div class="col-md-3">
                <label for="timeToTravel" class="col-form-label">Can travel up to</label>
              </div>
              <div class="col-md-3">
                <!--<input type="text" class="form-control" id="timeToTravel"  placeholder="time">-->
                <select class="form-control" id="timeToTravel" [(ngModel)] = "searchModel.timeToTravel" name="timeToTravel">
                  <option *ngFor="let t of time" value="{{t}}">
                    {{t}} min
                  </option>
                </select>
              </div>
              <div class="col-xs-1">-</div>
              <!--<label for="distanceToTravel" class="col-md-2 col-form-label">and not more than</label>-->
              <div class="col-md-3">
                <!--<input type="text" class="form-control" id="distanceToTravel" placeholder="distance">-->
                <select class="form-control" id="distanceToTravel" [(ngModel)] = "searchModel.distanceToTravel" name="distanceToTravel">
                  <option *ngFor="let dist of distance" value="{{dist}}">
                    {{dist}} mile
                  </option>
                </select>
              </div>
              <div class="col-xs-2"></div>
            </div>
            <div class=" form-group row col-md-12">
              <div class="col-md-3">
                <label class="col-form-label">I prefer to travel by </label>
              </div>
                <div class="form-check col-md-7" id="travelmode1" >
                  <label class="form-check-label">
                    <input type="radio" name="travelMode" class="form-check-input"
                           [(ngModel)] = "searchModel.travelMode" name="travelMode" value="any">
                    <i class="fas fa-bus"></i> Any
                  </label>
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input"
                         checked
                         name="travelMode" value="Train"
                         [(ngModel)] = "searchModel.travelMode" name="travelMode" value="train">
                    <i class="fa fa-train"></i> Train
                  </label>
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input"
                         [(ngModel)] = "searchModel.travelMode" name="travelMode" value="car">
                    <i class="fas fa-car"></i> Car
                  </label>

                <!--<label class="form-check-label">-->
                    <!--<input type="radio" class="form-check-input"-->
                          <!--name="travelMode" value="cycle" disabled="true">-->
                  <!--<i class="fas fa-bicycle"></i> Cycle-->
                  <!--</label>-->
                <!--<label class="form-check-label">-->
                    <!--<input type="radio" class="form-check-input"-->
                          <!--name="travelMode" value="walk" disabled="true">-->
                  <!--<i class="fas fa-walking"></i> Walk-->
                  <!--</label>-->
                </div>
              </div>
            <div class="form-group row col-md-12">
              <div class="col-md-3"> </div>
              <div class="col-md-9">
                <button type="submit" class="btn btn-info btn-round" [disabled]="!searchForm.form.valid" >Search</button> &nbsp;
                <button type="button" class="btn btn-info btn-round" (click) = "resetFields()">Reset</button>
              </div>
            </div>
          </form>
          <!--<span *ngIf="isLoading" class="glyphicon glyphicon-repeat fast-right-spinner"></span>-->
          <!--<div class="searchresults" *ngIf="submitted">-->
            <!--<app-search-details [searchModel]="outputSearchModel"></app-search-details>-->
          <!--</div>-->
        <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Search results -->
<div class="section section-dark-blue areasearch-results-summary" id="searchresults" align="center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="spinning" *ngIf="isLoading">
          <i class="fa fa-cog fa-spin fa-2x fa-fw" aria-hidden="true"></i>
        </div>
        <!-- REsults -->
        <div class="search container-fluid col-md-12" *ngIf="hasLoaded">
          <div class="row">
            <p> You have {{areaSearchResults.length}} area(s) matching your criteria </p>
            <br>
          </div>
          <!-- Adding rotating cards -->
          <div class="container">
            <div class="row">
              <div class="row col-md-12" *ngFor="let searchDetail of areaSearchResults">
                <div class="col-md-4">
                  <div class="card-container card-plain manual-flip">
                    <div class="card">
                      <div class="front">
                        <div class="cover">
                          <img src="assets/img/rotating_card_thumb2.png"/>
                        </div>
                        <div class="user">
                          <img class="img-circle" src="assets/img/rotating_card_thumb.jpg">
                          <div class="img-text"><strong>{{searchDetail.area_code}}</strong></div>
                        </div>
                        <div class="content">
                          <div class="main">
                            <h3 class="score">Clozer score: {{searchDetail.total_score}}</h3>
                            <!--<h5 class="code">{{searchDetail.area_code}}</h5>-->
                            <p class="text-center">{{searchDetail.area_name}}</p>
                          </div>
                          <div class="card-footer">
                            <!--<button type="button" class="btn btn-info btn-round ">Know More</button>-->
                            <button class="btn btn-info btn-round" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                              <i class="fas fa-share"></i> Know More
                            </button>
                          </div>
                        </div>
                      </div> <!-- end front panel -->
                      <div class="back">
                        <div class="header">
                          <h5 class="motto">School Score: {{searchDetail.school_score}}</h5>
                        </div>
                        <div class="content">
                          <div class="main">
                            <h4 class="text-center">Avg Journey Time: {{searchDetail.average_journey_time}}</h4>
                            <p class="text-center">Detached House Price: {{searchDetail.average_detached_house_price | currency : 'GBP' : true : '1.2'}}</p>

                            <div class="stats-container">
                              <div class="stats">
                                <h4>{{searchDetail.outstanding_schools + searchDetail.good_schools + searchDetail.poor_schools}}</h4>
                                <p>
                                  Schools
                                </p>
                              </div>
                              <div class="stats">
                                <h4>{{searchDetail.stations_count}}</h4>
                                <p>
                                  Train Stations
                                </p>
                              </div>
                              <div class="stats">
                                <h4>{{searchDetail.safety_score}}</h4>
                                <p>
                                  Score Rating
                                </p>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="card-footer">
                          <div class="social-links text-center">
                            <button class="btn btn-info btn-round" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                              <i class="fas fa-reply"></i> Back
                            </button>
                            <button type="button" class="btn btn-info btn-round " (click) = "getSectorSearchResults(searchDetail)" data-toggle="modal" data-target="#exampleModal">Explore</button>
                          </div>
                        </div>
                      </div> <!-- end back panel -->
                    </div> <!-- end card -->
                  </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
              </div>
            </div>
          </div>
        </div>
        <!-- End Results -->
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fadeOutUp" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" *ngIf="sectorLoaded">
        <h5 class="modal-title" id="exampleModalTitle">Search Results for {{sectorSearchResults[0].area_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="search col-md-12">
                <div class="spinning" *ngIf="sectorLoading">
                  <i class="fa fa-cog fa-spin fa-2x fa-fw" aria-hidden="true"></i>
                </div>
                <div class="" *ngIf="sectorLoaded">
                  <div class="col-md-12">
                    <div class="card-plain">
                      <!--<div class="card-header card-header-warning">-->
                        <!--<p class="card-category">Search Results for {{sectorSearchResults[0].area_name}}</p>-->
                      <!--</div>-->
                      <div class="card-body table-responsive">
                        <table class="table table-hover">
                          <thead class="text-warning">
                          <th>Sector Name</th>
                          <th>School Score</th>
                          <th>Safety Score</th>
                          <th>Total Score</th>
                          </thead>
                          <tbody *ngFor="let sector of sectorSearchResults">
                          <tr>
                            <td>{{sector.sector_code}}</td>
                            <td>{{sector.school_score}}</td>
                            <td>{{sector.safety_score}}</td>
                            <td>{{sector.total_score}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End modal -->

<!-- End of search results -->
<!--<div class="section section-dark-blue sector-results-screen" id="sectorResults" >-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<div class="search col-md-12">-->
          <!--<div class="spinning" *ngIf="sectorLoading">-->
            <!--<i class="fa fa-cog fa-spin fa-2x fa-fw" aria-hidden="true"></i>-->
          <!--</div>-->
          <!--<div class="" *ngIf="sectorLoaded">-->
            <!--<div class="col-md-12">-->
              <!--<div class="card">-->
                <!--<div class="card-header card-header-warning">-->
                  <!--<h4 class="card-title">Sector Search Results</h4>-->
                  <!--<p class="card-category">Search Results for {{sectorSearchResults[0].area_name}}</p>-->
                <!--</div>-->
                <!--<div class="card-body table-responsive">-->
                  <!--<table class="table table-hover">-->
                    <!--<thead class="text-warning">-->
                    <!--<th>Sector Name</th>-->
                    <!--<th>School Score</th>-->
                    <!--<th>Safety Score</th>-->
                    <!--<th>Total Score</th>-->
                    <!--</thead>-->
                    <!--<tbody *ngFor="let sector of sectorSearchResults">-->
                    <!--<tr>-->
                      <!--<td>{{sector.sector_code}}</td>-->
                      <!--<td>{{sector.school_score}}</td>-->
                      <!--<td>{{sector.safety_score}}</td>-->
                      <!--<td>{{sector.total_score}}</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                  <!--</table>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!-- Sector search results -->

<!-- End of sector search -->





